/*to do:
style everything
tables
footer to be bottom floaty
*/

body {
    background: #000000 no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*color: #ddd;*/
}

a {
    color: lightsalmon;
}

a:hover {
    color: pink;
}

#title {
    margin: 20px auto 30px;
    width: 450px;
    height: 127px;
    font-size: 60px;
    background-image: url("img/svalogo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#maindiv {
    margin: auto;
    text-align: center;
    width: 900px;
    background-color: rgba(204, 230, 255, 0.67);
}

#maintable {
    border-collapse: collapse;
    width: 900px;
}

#maintable td {
    border: solid black;
    border-collapse: collapse;
}

.settings {
    display: flex;
    margin: auto;
    width: 900px;
    /*    flex-wrap: wrap; /* Allow tables to wrap to the next line */
    justify-content: center;
    /* Centers the tables horizontally */
}

.settings table {
    margin: 4px;
    width: 300px;
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

.settings table tr {
    width: 100%;
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

.settings table tr td {
    padding: 4px 8px 4px 8px;
    background: rgba(204, 230, 255, 0.67);
    border-radius: 4px;
    width: 75px;
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

.settings input[type="number"] {
    width: 45px;
}

.footer {
    margin: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}